#2016/02/15 - ignore cocos2d-x folders
Tank/cocos2d
Tank/Tank/proj.win32/Debug.win32
Tank/Tank/proj.win32/Release.win32
Tank/Tank/proj.win32/res
Tank/Tank/proj.win32/Tank.sdf

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
